Flask==2.3.3
Flask-CORS==4.0.0
python-dotenv==1.0.0
requests==2.31.0
brightdata-sdk==1.1.3
beautifulsoup4==4.12.2
html2text==2020.1.16
groq
langchain
langchain-openai
supabase
httpx
pip-system-certs
chromadb
dotenv
